* {
    margin: 0;
    padding: 0;

    font-family: Comfortaa;
}

body {
    /* background: linear-gradient(to top,rgba(0,0,0,0),#e25b4077) fixed, url(images/bg.png); */
    background-color: #ffa767;
    background-image: url("images/bg.png");
    background-repeat: repeat;

    color: white;
    paint-order: stroke fill;

    justify-content: center;
    align-items: center;
}

.Header {
    text-align: center;

    margin: px;
    margin-top: 15px;

    font-size: 20px;
    -webkit-text-stroke: 7px black;
}

#biography {
    display: none;
    width: 100px;
    text-align: center;
}


#porno {
    margin-left: -34%;
    margin-top: -7%;
}

#pider {
    margin-left: 75%;
}

#dablyayahuiznayushtotutpisat {
    font-size: 15px;
    -webkit-text-stroke: 4px black;
}

.btn {
    background-color: #67ffa1;

    border: none;
    color: #010101;
    padding: 12px 30px;
    margin: 15px;
    cursor: pointer;
    font-size: 15px;

    max-width: 500px;

    -webkit-text-stroke: 0.5px black;
    border: 3px solid #010101;
}

.btn:hover {
    background-color: #46ff87;
}

#infor {
    text-align: center;
}

.hui {
    position: relative;

    width: 100%;
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;
}

#container {
    position: absolute;
    left: 50%;

    width: auto;
    height: auto;
    max-width: 800px;

    background: #16323f;

    display: flex;
    flex-wrap: wrap;

    border: 4px solid #010101;
    border-radius: 20px;
}

#app_template {
    width: 150px;
    height: 200px;

    display: none;
    padding: 10px;

    border-radius: 10px;

    margin: 10px;

    font-size: auto;

    background: #67ff97;
    border: 4px solid #010101;

    text-align: center;
    -webkit-text-stroke: 4px black;

    white-space: normal;
}

#app_template:hover {
    background: #67ffbb;
}

#pass {
    max-width: 200px;

    display: grid;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}